/*============================清除元素默认样式========================================*/
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td , i{ /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
table{
    border-collapse:collapse ;  /*去掉<th>、<td>中间的缝隙 collapse*/
}
table,td,th{border:none;}/* 去掉边框线 */
button{
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
ul li{list-style:none;}    /*去掉列表前面的项目符号*/
i { font-style:normal}

a {   text-decoration: none; }  /* text-decoration 属性规定添加到文本的修饰。*/

input,button,a {
    outline:0 none !important; blr:expression(this.onFocus=this.blur());
}